
 
   <div class="total container uwlist-tot">
        <button type="button" class="btn btn-primary dashboard-btn " routerLink="">Back to dashboard</button>
        <div class="uw-tablelist">
                <p class="uw-tittle">Uw profile overview</p>
                <button type="button" class="btn btn-primary addprof" routerLink="/adduwprofile">Add</button>
  
            <table class="table table-bordered uwlist">
                        <tbody>
                              <tr class="header">
                                       <td  >Select&nbsp;&darr;</td>
                                       <td  >User ID<p class="mgb"><input type="text" name="userId" class="uwpusridtf" [(ngModel)]="searchText1"/></p></td>
                                       <td  >UW Name</td>
                                       <td  >UW Manager</td>
                                       <td  >Capacity Factor</td>
                                       <td  >Face Amount Limit</td>
                                       <td  >PI age Limit</td>
                                       <td  >Smooth Sailing</td>
                                       <td  >Trials</td>
                                       <td  >GUL</td>
                                       <td  >Breeze</td>
                                       <td  >Term</td>
                                       <td  >FF</td>
                                       <td  >Rider</td>
                                       <td  >Customer Group<p class="mgb"><input type="text" name="customerGroup" class="uwpusridtf" [(ngModel)]="searchText2"/></p></td>
                                       <td   >Out of Office</td>
                                       
                                      
                              </tr>
                              <tr  *ngFor="let uwprfls of Uwprofiles | grdFilter: {userId: searchText1 || searchText2, custGrp:searchText1 || searchText2}">
               
                                       <td><select (change)="adduwprofile()">
                                             <option>Select</option>
                                       <option>Edit</option>
                                       <option>View</option>
                                       </select></td>
                                       <td  >{{uwprfls.userId}}</td>
                                       <td >{{uwprfls.uwName}}</td>
                                       <td >{{uwprfls.uwManager}}</td>
                                       <td >{{uwprfls.capFactor}}</td>
                                       <td >{{uwprfls.faceAmtLimit}}</td>
                                       <td >{{uwprfls.piAgeLimit}}</td>
                                       <td >{{uwprfls.smoothSailing}}</td>
                                       <td >{{uwprfls.trials}}</td>
                                       <td >{{uwprfls.gulMngr}}</td>
                                       <td >{{uwprfls.breezeMngr}}</td>
                                       <td >{{uwprfls.termMngr}}</td>
                                       <td >{{uwprfls.fulfmntMngr}}</td>
                                       <td >{{uwprfls.rider}}</td>
                                       <td >{{uwprfls.custGrp}}</td>
                                       <td >{{uwprfls.outOfulfmntMngrice}}</td>
                                       
                                      </tr>
                        </tbody>
         
                  </table>
   </div>
   <div class="filte-clear">
            <button type="button" class="btn btn-primary">Filter</button>
            <button type="button" class="btn btn-primary">Clear</button>
   </div>
        

   </div>

   