.uwprfltbl {
	border-collapse: collapse;
	width: 550pt;
	font-size: 9.0pt;
	font-weight: 400; 
	font-style: normal;
}

.uwpusridtf {
	width: 55px;
	height: 15px;
	border: 2px;
}

.uwprfl1510118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.uwprfl6310118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: white;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #376091;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl6410118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	font-size: 10.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #C5D9F1;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl6510118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #A5EA36;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl6610118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: underline;
	text-underline-style: single;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #8DB4E3;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl6710118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.uwprfl6810118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #FFFFCC;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl6910118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
	background: #FFFFCC;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7010118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	background: #FFFFCC;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7110118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	background: #FFFFCC;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7210118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: white;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7310118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
	background: white;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7410118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	background: white;
	mso-pattern: black none;
	white-space: nowrap;
}

.uwprfl7510118 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	background: white;
	mso-pattern: black none;
	white-space: nowrap;
}

.adduwp159377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp639377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp649377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp659377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp669377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp679377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp689377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp699377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp709377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp719377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: underline;
	text-underline-style: single;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp729377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp739377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp749377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp759377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp769377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp779377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: none;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp789377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: 1.0pt solid windowtext;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp799377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: none;
	border-right: 1.0pt solid windowtext;
	border-bottom: 1.0pt solid windowtext;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp809377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: center;
	vertical-align: middle;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: normal;
}

.adduwp819377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: top;
	border-top: 1.0pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}

.adduwp829377 {
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	
	color: black;
	
	
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 1.0pt solid windowtext;
	mso-background-source: auto;
	mso-pattern: auto;
	white-space: nowrap;
}
/* Coustmer Group Level */
.cstmrlvl1525789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6325789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6425789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.cstmrlvl6525789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:20.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6625789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6725789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:right;
	vertical-align:middle;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6825789
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.cstmrlvl6925789
	{
	text-align:left;
	vertical-align:middle;
	margin-left: 5px; 
	padding-top:1px;
	padding-right:5px;
	padding-left:1px;
	
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	
	font-family:Calibri, sans-serif; 
	
	border:.5pt solid windowtext;
	
	}
	
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 25px;
    height: 24px;
    line-height: 22px;
    font-size: 25px;
    border-radius: 50%;
    text-align: center; 
    border:2px; 
   	background-color: #4CAF50;
    font-style: normal;
   
}
tr.header td {
    background: #7faed7;
}
table.table.table-bordered.uwlist td {
    vertical-align: middle;
	font-size: 10px;
	padding: 4px;
	text-align: center;
}
button.btn.btn-primary {
    width: 100%;
    border-radius: unset;
    font-size: 10px;
    background: #2291f1;
    color: #000;
    border: 1px solid;
    line-height: 11px;
}
.filte-clear {
    width: 6%;
	float: left;
	margin-top: 24px;	
}
.uw-tablelist {
    width: 94%;
    float: left;
}
button.btn.btn-primary.addprof {
    width: 69px;
    float: right;
}
p.uw-tittle {
    padding: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    width: 50%;
    float: left;
}
p.mgb {
    margin-block-end: 0px;
}
.total.container.uwlist-tot {
    margin: 50px auto;
}
button.btn.btn-primary.dashboard-btn {
    width: 150px;
    float: right;
	margin-bottom: 10px;
	margin-right: 57px;
}