
 
  <div class="total container">
  <div class=" work-management bg-primary  text-center">
  workmanagement
  </div>

  <div class=" bg-primary  text-center subheading">
        <div class="full-border">
        <div class="col-sm-6 nopadding   ">
            Team Overview
        </div>
        <div class="col-sm-6 nopadding left-border">
            Department Overview
         </div>
        </div>
    </div>

    <div  class="  bg-primary  text-center">
        <div class="full-border">

        <div class="col-sm-6 nopadding">Outstanding Over View</div>
        <div class="col-sm-6 nopadding"></div>
    </div>
    </div>
    <div  class="border-left-rigt ">
            <div class="">
    
            <div class="col-sm-6 nopadding right-border">
                <div class="Ltable">
                    <table class="table table-bordered Outstanding-table">
                            <tbody>
                        <tr>
                            <td>ROLE</td>
                            <td>0 day</td>
                            <td>1 day</td>
                            <td>2 day</td>
                            <td>3 day</td>
                            <td>4 day</td>
                            <td>5 day</td>
                            <td>>5 day</td>
                        </tr>
                        <tr>
                                <td>UnderWriter</td>
                                <td></td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                    <td>Exeption Manager</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td></td>
                                    <td> </td>
                                </tr>
                                </tbody>
                    </table>

                    <div class=" bg-primary  text-center ">
                        Avarage Case Overview
                    </div>

                     <div class="table2">
                    <table  class="table table-bordered Outstanding-table">
                            <tbody class="table2">
                                <tr>
                                    <td>status</td>
                                    <td>
                                        <p> Cases</p>
                                       <p> 15 </p>
                                         </td>
                                    <td>
                                            <p> Cases</p>
                                            <p> 15-30 </p>
                                    </td>
                                    <td>
                                            <p> Cases</p>
                                            <p> 31-45 </p>
                                    </td>
                                    <td>
                                            <p> Cases</p>
                                            <p> 46-60</p>
                                    </td>
                                    <td>
                                            <p> Cases</p>
                                            <p> >60 </p>
                                    </td>
                                </tr>
                                <tr></tr>
                            
                            <tr>
                                <td>pending</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Aproved HOld</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Issue</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 nopadding ">
                    <div class="Rtable" >
                            
                                <div class="uwl">
                                    
                                <ul>
                                    <li>TEAM 1 UW Manager</li>
                                    <li>TEAM 2 UW Manager</li>
                                    <li>TEAM 3 UW Manager</li>
                                    <li>TEAM 4 UW Manager</li>
                                </ul>
                            </div>
                            <div class="ems">
                                <ul>
                                       <li>TEAM 1 EW Supervisor</li>
                                       <li>EAM 2 EW Supervisor</li>
                                       <li>TEAM 3 EW Supervisor</li>
                                       <li>TEAM 4 EW Supervisor</li>
                                       <li>TEAM 5 EW Supervisor</li>
                                       <li>TEAM 6 EW Supervisor</li>
                                       </ul>
                                </div>
                            
            </div>
        </div>
        </div>

        <div  class="  bg-primary  text-center ">
                <div class="">
        
                <div class="col-sm-6 nopadding "></div>
                <div class="col-sm-6 nopadding ">Outstanding Over View</div>
            </div>
            </div>
            <div  class="  text-center">
                    <div class="asignes">
            
                    <div class="col-sm-6 nopadding " ></div>
                    <div class="col-sm-6 nopadding left-border">
                            <div class="rightdiv3">
                                    <p> <u>Assigned Last 24 Hours</u></p>
                                    <p><u>Reassigned Cases</u></p>
                                    <a routerLink="/uwlist"> <p><u>UW Profiles</u></p></a>
                                    <p><u>Roll Over Thresholder</u></p>
                            
                                    </div>
                    
                    </div>
                </div>
                </div>
</div>
</div>