.subheading{
    margin-bottom: 10px;
    margin-top: 10px;
}
.col-sm-6{
   
}
.Avarage{
    padding: 10px;;
}
.table2 >tbody{
display: inline;
margin-left:100px;
}

.Rtable .table1{
    float: left;
    width: 200px;
    margin-left: 50px;
    margin-top: 80px;
    

}
.Rtable .table2{
    float: right;
    width: 200px;
    margin-left: 50px;
    margin-top: 35px;
    margin-right: 50px;
}
th{
    padding: 20px;
}
.bg-primary {
    display: table;
    width: 100%;
}
.nopadding {
    padding: 0px;
}
.bg-primary {
    color: #000;
    background-color: #7faed7;
}
.work-management {
    text-transform: uppercase;
    padding: 4px;
}
.table-bordered {
    border:unset;
}
.min-height{
    height: 119px;
}
.total.container {
    margin: 10px auto;
    font-size: 11px;
}
.full-border {
    display: table;
    width: 100%;
    border: 1px solid #000;
}
.left-border {
    border-left: 1px solid #000;
}
.Outstanding-table>tbody>tr>td {
    border: 1px solid #000;
   
   
}
.border-left-rigt {
    border-left: 1px solid;
    border-right: 1px solid;
}
table.table.table-bordered.Outstanding-table {
    width: 90%;
    margin: 10px auto;
}
.right-border {
    border-right: 1px solid;
}
table.table.table-bordered.Outstanding-table p {
    margin-bottom: -2px;
}
.uwl {
    width: 50%;
    float: left;
    text-align: center;
}
.ems {
    width: 50%;
    float: left;
    text-align: center;
}
.Rtable li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: bold;
}
.Rtable {
    display: table;
    width: 100%;
    padding: 50px 0px;
}
.asignes
{
    display: table;
    width: 100%;
    border-bottom: 1px solid;
}

