.edit-form {
    width: 55%;
    margin: auto;
    margin-top: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 50%;
    border-radius: 0px;
    padding: 0px !important;
}
.select-sep {
    width: 100%;
	display: table;
	margin-bottom: 10px;
}
.select-drdown {
    width: 50%;
    display: inline-block;
    margin-left: 10px;
    /* float: left; */
}
table.table-bordered {
   
}
button.btn {
    background: none;
    border-radius: unset;
    border: 1px solid;
    border-radius: none;
}
button.btn.save-uwprofile {
    float: right;
}
table.table.history-table
{
    border: 1px solid #000;
    margin-bottom: 20px;
}
.table{
    margin-bottom: 0px; 
}
.select-sep span {
    width: 150px !important;
    display: inline-block;
    float: left;
}
.table-bordered>tbody>tr>td 
{
    border: 1px solid #000 !important;
}
.fade.in {
    display: block !important;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal-body {
    text-align: center;
}