<div class="edit-form">
        <fieldset [disabled]="disabledValue">
    <table class="table table-bordered">
     
     <tbody>
       <tr>
         <td>Uw Name</td>
         <td>Nazeer</td>
         
       </tr>
       <tr>
         <td>Uw Manger</td>
         <td><div class="select-drdown">
             <select name="uw-man"class="form-control" >
                 <option>Nazeer</option>
             </select>
         </div></td>
         
       </tr>
       <tr>
         <td>Capacity Factor</td>
         <td><div class="select-drdown">
             <select name="uw-man" class="form-control">
                 <option>Abdul</option>
             </select>
         </div></td>
         
       </tr>
       <tr>
         <td>Face Amounts Limits</td>
         <td><div class="select-drdown ">
             <select name="uw-man" class="form-control">
                 <option>Mansukh</option>
             </select>
         </div></td>
         
       </tr>
       <tr>
         <td>Proposed Insured Age Limts</td>
         <td><div class="select-drdown">
             <select name="uw-man" class="form-control">
                 <option>Mansukh</option>
             </select>
         </div></td>
         
       </tr>
       <tr>
         <td>Smooth Sailing</td>
         <td><div class="select-drdown">
             <label class="radio-inline"><input type="radio" name="yes" checked> Yes</label>
             <label class="radio-inline"><input type="radio" name="no">No</label>
         </div></td>
         
       </tr>
       <tr>
         <td>Trials</td>
         <td><div class="select-drdown">
             <label class="radio-inline"><input type="radio" name="yes" checked> Yes</label>
             <label class="radio-inline"><input type="radio" name="no">No</label>
         </div></td>
         
       </tr>
       <tr>
         <td>Plan</td>
         <td>
                 <label class="checkbox-inline"><input type="checkbox" value="">GUL</label>
             <div class="select-sep">
         <span>EM partner</span><div class="select-drdown">
             <select name="uw-man" class="form-control">
                 <option>nazeer</option>
             </select></div>
         </div>
         <div class="select-sep">
                 <span>EM Supervisor</span><div class="select-drdown">
                     <select name="uw-man" class="form-control">
                         <option>Nazeer</option>
                     </select></div>
                 </div>
                 <label class="checkbox-inline"><input type="checkbox" value="">Breeze</label>
                 <div class="select-sep">
          
         <span>EM partner</span><div class="select-drdown">
             <select name="uw-man" class="form-control">
                 <option>Nazer</option>
             </select></div>
         </div>
         <div class="select-sep">
                 <span>EM Supervisor</span><div class="select-drdown">
                     <select name="uw-man" class="form-control">
                         <option>Nazeer</option>
                     </select></div>
                 </div>
                 <label class="checkbox-inline"><input type="checkbox" value="">Term</label>
                 <div class="select-sep">
                         <span>EM partner</span><div class="select-drdown">
                             <select name="uw-man" class="form-control">
                                 <option>Nazeer</option>
                             </select></div>
                         </div>
                         <div class="select-sep">
                                 <span>EM Supervisor</span><div class="select-drdown">
                                     <select name="uw-man" class="form-control">
                                         <option>Nazeer</option>
                                     </select></div>
                                 </div>
     </td>
         
       </tr>
       <tr>
             <td>Fullfillment</td>
             <td>
                     <div class="select-drdown">
                             <label class="radio-inline"><input type="radio" name="yes" checked> Yes</label>
                             <label class="radio-inline"><input type="radio" name="no">No</label>
                         </div>
                     <div class="select-sep">
                             <span>EM partner</span><div class="select-drdown">
                                 <select name="uw-man" class="form-control">
                                     <option>Nazeer</option>
                                 </select></div>
                             </div>
                             <div class="select-sep">
                                     <span>EM Supervisor</span><div class="select-drdown">
                                         <select name="uw-man" class="form-control">
                                             <option>Nazeer</option>
                                         </select></div>
                                     </div>
             </td>
             
           </tr>
           <tr>
                 <td>Rider</td>
                 <td><div class="select-drdown">
                         <label class="checkbox-inline"><input type="checkbox" value="">CHR</label>
                 </div></td>
                 
               </tr>
               <tr>
                     <td>Customergroup</td>
                     <td>Customergroup</td>
                     
                   </tr>
                   <tr>
                         <td>Out Of Office</td>
                         <td><div class="select-drdown">
                                 <label class="radio-inline"><input type="radio" name="yes" checked> Yes</label>
                                 <label class="radio-inline"><input type="radio" name="no">No</label>
                             </div>
                             <div class="select-drdown">
                             <input type="date">
                         </div></td>
                         
                       </tr>
       
     </tbody>
   </table>
   <table class="table history-table" >
        <tbody>
           <tr>
               <td>History log</td>
               <td>Creator</td>
               <td>Note</td>
           </tr>
           </tbody>
        </table>
   <button type="button" class="btn cancel-uwprofile" (click)="cancelform(true)">Cancel</button>
   <button type="button" class="btn save-uwprofile">Submit</button>
   </fieldset>
   
  
       </div>
       <div *ngIf="showform" class="modal fade in" id="myModal" role="dialog" >
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                
                <div class="modal-body">
                  <p>Are you sure to discard changes?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelform(false)">Yes</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelform(true)">No</button>
                </div>
              </div>
              
            </div>
          </div>
