
 

<div >

    <table border=0 cellpadding=0 cellspacing=0 class="uwprfltbl" width=60% align="center" >
    
     <tr height=19 style='height:14.4pt'>
      <td colspan="18" height=19 class=uwprfl1510118 width=44 style='height:14.4pt;width:33pt'></td>
      
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td colspan="15" class=uwprfl1510118></td>
     
      <td class=uwprfl6410118>Back to Dashboard</td>
      <td class=uwprfl1510118></td>
      <td class=uwprfl1510118></td>
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td colspan="17" height=19 class=uwprfl1510118 style='height:14.4pt'></td>
     
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td colspan="15" class=uwprfl6710118 align="left" >{{title}}</td>
      
      <td class=uwprfl6310118 style="color: #ffffff	;"><a href="">Add</a></td>
      <td class=uwprfl1510118></td>
      <td class=uwprfl1510118></td>
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td rowspan=2 class=uwprfl6510118>Select&nbsp;&darr;</td>
      <td rowspan=2 class=uwprfl6610118>User ID<p></p><input type="text" name="userId" class="uwpusridtf" /><p></p></td>
      <td rowspan=2 class=uwprfl6610118>UW Name</td>
      <td rowspan=2 class=uwprfl6610118>UW Manager</td>
      <td rowspan=2 class=uwprfl6610118>Capacity Factor</td>
      <td rowspan=2 class=uwprfl6610118>Face Amount Limit</td>
      <td rowspan=2 class=uwprfl6610118>PI age Limit</td>
      <td rowspan=2 class=uwprfl6610118>Smooth Sailing</td>
      <td rowspan=2 class=uwprfl6610118>Trials</td>
      <td rowspan=2 class=uwprfl6610118>GUL</td>
      <td rowspan=2 class=uwprfl6610118>Breeze</td>
      <td rowspan=2 class=uwprfl6610118>Term</td>
      <td rowspan=2 class=uwprfl6610118>FF</td>
      <td rowspan=2 class=uwprfl6610118>Rider</td>
      <td rowspan=2 class=uwprfl6610118>Customer Group<p><input type="text" name="customerGroup" class="uwpusridtf" /></p><p></p></td>
      <td rowspan=2 class=uwprfl6610118 style='border-top:none'>Out of Office</td>
      <td class=uwprfl6310118 style='border-left:none'>Filter</td>
      <td class=uwprfl1510118></td>
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td class=uwprfl6310118 style='border-top:none;border-left:none'>Clear</td>
      <td class=uwprfl1510118></td>
     </tr>
     <tr  *ngFor="let uwprfls of Uwprofiles" height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td class=uwprfl7210118 style='border-top:none'><select>
      <option>Edit</option>
      <option>View</option>
      </select></td>
      <td class=uwprfl7310118 style='border-left:none'>&nbsp;{{uwprfls.userId}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.uwName}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.uwManager}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.capFactor}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.faceAmtLimit}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.piAgeLimit}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.smoothSailing}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.trials}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.gulMngr}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.breezeMngr}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.termMngr}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.fulfmntMngr}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.rider}}</td>
      <td class=uwprfl7410118>&nbsp;{{uwprfls.custGrp}}</td>
      <td class=uwprfl7510118>&nbsp;{{uwprfls.outOfulfmntMngrice}}</td>
      <td class=uwprfl1510118></td>
      <td class=uwprfl1510118></td>
     </tr>
     <tr height=19 style='height:14.4pt'>
      <td height=19 class=uwprfl1510118 style='height:14.4pt'></td>
      <td class=uwprfl6810118 style='border-top:none'>&nbsp;</td>
      <td class=uwprfl6910118 style='border-left:none'>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7010118>&nbsp;</td>
      <td class=uwprfl7110118>&nbsp;</td>
      <td class=uwprfl1510118></td>
      <td class=uwprfl1510118></td>
     </tr>
     
     
     
    </table>
   </div>
